* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('img/wallpaperflare.com_wallpaper (1).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    height: 700px;

}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 5px;
  
}

header {
    padding: 2px;
    background-color: rgb(21, 133, 153);
    text-shadow: 5px 2px 3px;
    color: black;
    text-align: center;
    
    
    

}

nav {
    background-color: #333;
    overflow: hidden;
    text-align: right;
   

}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    
}

main {
    background-color: white;
    text-align: center;
}

h1 {
    text-align: left;
    padding: 20px;
    color: rgb(71, 105, 216);
    text-shadow: 5px 3px 6px #080101;

}

h2 {
    padding: 50px;
    color: rgb(1, 0, 5);
    text-shadow: 5px 3px 3px #f06e6e;
    width: 100px;
    height: 500px;
    position:absolute;

}



section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(245, 122, 8);
    color: white;
    text-align: right;
}

footer a {
    text-decoration: none;
    padding: 10px;
    float: left;
    color: white;

}

.Search {
    text-align: center;
    padding: 5px;
    border-radius: 20px;

}





